/*GLOBALES ESCRITORIO*/

*,
*:before,
*:after {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif !important;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* FONDOS */

.fondo-celeste {
    background-color: $color-secundario;
    color: $color-primario;
}

.fondo-gris {
    background-color: $color-terciario;
    padding: 3rem 0rem;
}

.fondo-blanco {
    background-color: $color-primario;
    padding: 3rem 0rem;
    color: $color-secundario !important;
}

.tamañogrande {
    height: 100vh;
}

.centrar-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


/*FUENTES - DESKTOP */

h1 {
    font-size: nth($list: $fuentes-desktop, $n: 1);
}

h2 {
    font-size: nth($list: $fuentes-desktop, $n: 2);
}

h3 {
    font-size: nth($list: $fuentes-desktop, $n: 3);
    font-weight: 700;
}

h4 {
    font-size: nth($list: $fuentes-desktop, $n: 4);
}

h5 {
    font-size: nth($list: $fuentes-desktop, $n: 5) !important;
    font-weight: bold;
}

p {
    font-size: nth($list: $fuentes-desktop, $n: 6);
}

.texto-resaltado {
    font-family: "Montserrat" !important;
    text-align: center;
    margin: 0rem;
    font-weight: bold;
    font-size: 4.8rem;
    color: #72f1e7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulosh1 {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700;
    padding: 1rem 0rem;
    text-align: center;
    align-items: center;
}

.centrar-texto {
    text-align: center;
    align-items: center;
}

.texto-izquierda {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 1rem;
    text-align: left;
}

.espacio-texto {
    padding: 2rem 0rem;
}

.fuente-gruesa {
    font-weight: 700;
    font-size: 2rem;
}


/*CONTENIDO*/

.centrar-contenido {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/*IMAGENES*/


/* LINKS */

a {
    text-decoration: none;
    color: $color-primario;
}

a:visited {
    color: $color-primario;
}


/*SWEET ALERT */


/*LETRA BOTONES*/

div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
    font-size: 2em !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    font-size: 2em !important;
}


/*CONTENEDOR*/

div:where(.swal2-container) div:where(.swal2-popup) {
    width: 40% !important;
    padding: 0 0 5em !important;
}


/*BOTONES*/

div:where(.swal2-container) button:where(.swal2-styled) {
    padding: 1em 2em;
}

// Boton final de Ok
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: $color-secundario;
}