//MENU ESCRITORIO
.navbar {
    padding: 0.5rem 0rem !important;
}

.menu-escritorio {
    &.bg-primary {
        background-color: rgb(240, 240, 240) !important;
        .nav {
            .nav-item {
                font-size: 2rem !important;
                font-weight: bold;
                .nav-link {
                    color: $color-secundario!important;
                }
                .active {
                    color: $color-primario !important;
                    background-color: $color-secundario !important;
                }
            }
        }
    }
}

.flex-ordenado {
    display: flex;
}

.carrito {
    max-width: 15%;
    margin-right: 1rem;
}